main {
	margin-top: 35px;
	margin-bottom: 35px;
}

.content {

	h1{
		margin-bottom: 32px;
	}

	h1 {
		margin-top: 0;
	}

	.breadcrumb {
		border-radius: 0;

		li {
			padding-bottom: 0;
		}
	}

	.lead {
		font-size: 24px;
		color: #567031;
		font-family: "Times New Roman", sans-serif;
	}

	.news {
		border-bottom: 1px dotted #000000;
		margin-bottom: 17px;

		&.other-bottom-line {
			border-bottom: 1px solid #ced9c1;
		}

		.news-short {
			margin-bottom: 27px;

			time {
				display: block;
				padding-bottom: 5px;
				color: #989898;
			}
		}
	}

	.news-select {
		margin-bottom: 27px;

		.form-control {
			border-radius: 2px;
			border-color: #789253;
			box-shadow: none;
			-webkit-appearance: none;
			// images/dropdown.png
			background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAMAAAAM7l6QAAAAolBMVEX//////v/q6O3////39vfr6e3c3N3j4ePq6Ozr6+z////h4eHb4NPBx7pWcDFTbS5PaSlwikvR2MZjfT1LZyNRaytKZiLa4NJVbzDJz79viUpkfj9YcjNyjE34+vZddzhSbStHYx7X3c7Q1sXJ0rv9//xGYCHGz7u2waV7j1zv8O3f5dlfeTr09vHz9fDK077K0ry8x6x+kmJ1iVdxhlFmf0VsKmOgAAAADnRSTlPn4ufr6efr6ufm0tLNze+ZtCoAAADoSURBVCjPldPZdsIgEIBharR7B0IcpBGIEGMSu2/v/2q1ix45TuT43f4XbAO7uRhNRqTJ5fkdG6/r9p7UyvUVY2GhpiRlHs4Yq70BzQ9oADHbZKkAOBiIGOAA+Jc1L6zNI9YWXP9nrm1ZFZGqzDXfZsirFYo9uHrMYS8XaKKlcV5GWUBEnJz1DpmNXvzSQGX//iqXG/Kl90RG0zWNc03TARIZRPXmnp9cZwS9c/xaOtfOxdDB8COETzF8bux7cexalDr91ugnST1oYhxSw5QaxfQgB/RTkv/5BpkLtSTVMzdm1xkblN1+AwMRPctmO/cpAAAAAElFTkSuQmCC');
			background-position: right center;
			background-repeat: no-repeat;
			// For FF
			-moz-appearance: none;
			text-indent: 0;
			text-overflow: '';
			// For IE
			-ms-appearance: none;
			appearance: none !important;

			&::-ms-expand {
				display: none;
			}
		}
	}

	.all-news {
		color: #949494;

		&:hover {
			color: lighten(#949494, 20%);
		}
	}

	.pagination {
		border-radius: 0;

		li {
			a {
				margin-right: 10px;
				border-color: #567031;
				background-color: #eff2ea;
				color: #567031;

				&:hover, &:focus {
					color: #718556;
					border-color: #789253;
				}
			}

			&:first-child a {
				border-radius: 0;
			}

			&:last-child a {
				border-radius: 0;
				margin-right: 0;
			}

			&.active a, &.active a:hover, {
				color: #ffffff;
				background-color: #567031;
				border-color: #567031;
			}
		}
	}

	ol, ul {
		li {
			padding-bottom: 10px;
		}
	}

	.ul {
		list-style: none;
		padding-left: 24px;

		li:before {
			content: "\2014  ";
			color: #789253;
		}
	}
}