footer {
	background: #eff2ea;
	position: relative;
	padding: 35px 0;
	font-size: 12px;

	&:before, &:after {
		content: '';
		border: 10px solid #567031;
		border-radius: 50%;
		position: absolute;
		background-color: #567031;
		box-sizing: border-box;
		bottom: -10px;
	}

	&:before {
		left: -10px;
	}

	&:after {
		right: -10px;
	}

	.green {
		color: #567031;
	}

	.develop {
		p {
			margin: 10px 0 0 0;
		}

		img {
			float: left;
			margin: 2px 5px 0 0;
		}
	}

	.footer-info {
		padding: 0 25px;

		p {
			margin: 0 0 5px 0;
		}
	}
}