$min-width: 1050px;
$color-primary: #567031;
$p-margin: 15px;



h2, h3 {
	margin-top: 27px;
	margin-bottom: 27px;
}

a {
	color: #789253;
	text-decoration: underline;

	&:hover, &:focus {
		color: lighten($color-primary, 30%);
	}
}

p {
	margin-bottom: $p-margin;
}

table {
	overflow: hidden;
}

.body-wrap {
	min-width: $min-width;
	border: 10px solid $color-primary;
	overflow: hidden;
}

.wrap {
	width: 1000px;
	height: auto;
	margin: 0 auto;
}

.head-lvl-3 {
	font-family: "Tahoma", sans-serif;
	font-weight: bold;
	font-size: 16px;
}

.bold {
	font-weight: bold;
}