@font-face {
  font-family: 'a_AssuanNr';
  font-style: normal;
  font-weight: 400;
  src: local('a_AssuanNr'), local('a_AssuanNr-Medium'),
  url(/font/a_assuannr.woff) format('woff'),
  url(/font/a_assuannr.ttf) format('truetype');
}

header {
  .header_logo {
    font-family: 'a_AssuanNr', arial;
    width:218px;
    color:#5990c9;
    font-size: 28px;
    line-height: 28px;
    margin-left: 6px;
    &_text {
      padding: 0;
      padding-top: 26px;
      padding-left: 30px;
    }
    &_ellipse {
      background: #5990c9;
      width: 40px;
      height: 40px;
      border-radius: 100px;
      /* margin-right: 28px; */
      padding: 0;
      margin-top: 6px;
      font-size: 18px;
      text-align: center;
      &_text {
        color:white;
        margin-top: 6px;
        transform: ScaleY(0.8);
      }
    }
  }
  .header_title{
    padding-top:15px;
    text-align: center;
    font-size:32px;
    line-height: 30px;
  }
  .header_pstu{
width:218px;
  }
  .nav{
    margin-top:20px;
    height:50px;
    background: #5990c9;
    -webkit-box-shadow: -1px 4px 15px -2px rgba(0,0,0,0.75);
    -moz-box-shadow: -1px 4px 15px -2px rgba(0,0,0,0.75);
    box-shadow: -1px 4px 15px -2px rgba(0,0,0,0.75);
  }
}