$corner-radius: 70%;
$hor-shift: -1px;
$vert-shift: -1px;
$border-default: 1px solid #ffffff;


.blockquote {
	position: relative;
	border: 1px solid #d0d0d0;
	padding: 10px;
	margin: 25px 0;

	&:before, &:after, .bottom-corner-1:before, .bottom-corner-1:after, .bottom-corner-2:before, .bottom-corner-2:after, .top-corner:before, .top-corner:after {
	    content:'';
	    position: absolute;
	    width: 10px;
	    height: 10px;
	    border: 1px solid #d0d0d0;
	    box-sizing: border-box;
	    border-radius: 50%;
	    z-index: 1;
	    background-color: #fff;
	}

	&:before, &:after {
        top: $vert-shift;
		z-index: 11;
	    border-top: $border-default;
	}

	&:before {
	    left: $hor-shift;
	    border-radius: 0 0 $corner-radius 0;
	    border-left: $border-default;
	}


	&:after {
	    right: $hor-shift;
	    border-radius: 0 0 0 $corner-radius;
	    border-right: $border-default;
	}

	.top-corner {
		&:before, &:after {
			border-color: #789253;
			top: 10px;
			z-index: 10;
		    border-top: $border-default;
		}

		&:before {
			left: 10px;
		    border-radius: 0 0 $corner-radius 0;
		    border-left: $border-default;
		}

		&:after {
			right: 10px;
		    border-radius: 0 0 0 $corner-radius;
		    border-right: $border-default;
		}
	}

	.bottom-corner-1 {
		&:before {
			bottom: $vert-shift;
			left: $hor-shift;
			z-index: 11;
			border-left: $border-default;
			border-bottom: $border-default;
			border-radius: 0 $corner-radius 0 0;
		}

		&:after {
			bottom: $vert-shift;
			right: $hor-shift;
			z-index: 11;
			border-right: $border-default;
			border-bottom: $border-default;
			border-radius: $corner-radius 0 0 0;
		}
	}

	.bottom-corner-2 {
		&:after, &:before {
			border-color: #789253;
			bottom: 10px;
			z-index: 10;
		}

		&:before {
			left: 10px;
			border-radius: 0 $corner-radius 0 0;
			border-bottom: $border-default;
			border-left: $border-default;
		}

		&:after {
			right: 10px;
			border-radius: $corner-radius 0 0 0;
			border-bottom: $border-default;
			border-right: $border-default;
		}
	}

	blockquote {
		font-size: 24px;
		font-style: italic;
		font-family: "Times New Roman", sans-serif;
		border-left: none;
		margin: 0;
		border: 1px solid #789253;
	}
}