.doc-links {

	a {
		margin-bottom: 15px;
		display: inline-table;
		padding-bottom: 5px;
		text-decoration: none;

		span {
			display: inline;
			text-decoration: underline;
			vertical-align: top;
		}

		&:after {
			content: attr(data-size);
			vertical-align: top;
			color: #c6c6c6;
		}

		&:before {
			content: "";
			width: 19px;
			height: 22px;
			display: inline-table;
			margin-right: 5px;
		}

		&.xls:before {
			// images/icons/xls.png
			content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAWCAMAAAAVQ1dNAAAAV1BMVEUAAADX19e6urr///9kmR/v7+/q6ury8vLs7Oz7+/u6urqKior5+fmLi4v8/Py5ubn09PSampqSkpL29va3t7e0tLSurq6ioqKpqamfn5+Xl5ePj4+UlJRSO7riAAAAA3RSTlMAlpbEAd8zAAAAnklEQVQY01XOWxKDIBBEUbTDiEbiA41Rs/91phmKFFwR4cCHxphmmAY26cx1Q9tQN6n1/UvH2DNstB3cK+gJdvOoG0c16MMvoPYujW82bop7obqnJyHgkw1I9+ZZrYp28P8OdGVqJ2xlJ22BtbazecKSrEztgvuDo120Fc5Zx9KMbzJxHDERwUq7IUKSWDYPKcOtVudp7ZP5OLyPy/YHdzEK+zi4qCkAAAAASUVORK5CYII=');
		}

		&.rar:before {
			// images/icons/rar.png
			content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAWCAMAAAAVQ1dNAAAAV1BMVEUAAAC6urrX19fW1tb///9nLXPv7+/q6ury8vLs7Oz7+/u6urqKior5+fm4uLiLi4v8/Pz09PSTk5P29va0tLSioqKdnZ2ZmZmPj4+tra2pqamXl5ewsLCTHNyxAAAABHRSTlMAlpaWdHq5NQAAAJ5JREFUGNNdzgsSgjAMBNCia0NBWvmjeP9zug1FKEsmpI8wU2PMvfY147VzvtE88ni1qnppNRWjNoBnQvqCwTzyNI0awBn6VvtGOx61t+6pp72etp/TXt/jc/23bdWy0Ebeb0R5jtoEm9lEm2GtLe3eDjuCmbbC/cHRVloH56xjto5uM3GsGBFRWyBCkhQstACdL5Yn0IonE2KFEMfiB5W6DFncX8wEAAAAAElFTkSuQmCC');
		}

		&.doc:before {
			// images/icons/doc.png
			content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAWCAMAAAAVQ1dNAAAAV1BMVEUAAADX19e6urr///8AZpnv7+/q6ury8vLs7Oz7+/uKioq6urr5+fn8/Py5ubn09PSampqTk5P29va3t7e0tLSurq6ioqKNjY2pqamenp6Xl5ePj4+JiYmuvUucAAAAA3RSTlMAlpbEAd8zAAAAmElEQVQY03XOixJDMBCF4XBkxaXupej7P2ePTatJO35rJz4zhjEmqZqKNbp5Tmgj4hq1orjp1AXDSJvAZwV9g8lkcXWtBvCsN9Tuh51XdmHDvw0DHr/fa1u1KNrM/5uRh6mtsJGttA7W2tx+FjpvYWob3AmOttF6OGcd8xu9N3GcIxFR2yFCknfYaQskDAutRJRaWn57ctIXYf0K/GlZgB0AAAAASUVORK5CYII=');
		}

		&.rtf:before {
			// images/icons/rtf.png
			content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAWCAMAAAAVQ1dNAAAAWlBMVEUAAAC6urrX19fW1tb///9GAE/v7+/q6ury8vLs7Oz7+/u6urqKior5+fm4uLiLi4v8/PyTk5P09PT29va0tLSioqKOjo6tra2pqamfn5+cnJyZmZmXl5ewsLBf/u7ZAAAABHRSTlMAlpaWdHq5NQAAAJ9JREFUGNNdztsWgiAQhWGsHYgmpKjlofd/zfZM1gJ/BxZ+cqEx5tqGlgXdeb7QAsqCWtM8dLqGqY3gu4J+wWhuZV2nBsiCLLW3GJ9j1J7HPTWIJdrpXkp4nW0YxMpoE/9vQp2ntsAWttBWWGtr+9uw0jZaFjbaDv8HT9tpPby3XtId/dec50jOObUZzpGclFkeZlpEWaRVdxZlYpRj9QGjEgxqD7/U4AAAAABJRU5ErkJggg==');
		}

		&.pdf:before {
			// images/icons/pdf.png
			content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAWCAMAAAAVQ1dNAAAAV1BMVEUAAAC6urrX19fW1tb////XAQHv7+/q6ury8vL8/Pzs7Oy6urqKior5+fm4uLiLi4v09PSTk5P29va0tLSioqKPj4+urq6qqqqfn5+cnJyZmZmXl5enp6c4+z7KAAAABHRSTlMAlpaWdHq5NQAAAJxJREFUGNNdzlkSwiAQRVGiTzoSAxk1g/tfp4/OIOSGdHWd4gNjzL3yFfM6ud9oHnle7blXx6HW4wS13jzy6loNOH6ovaOdHzsMuyNahw+N6/9elxiHWtPgS8uiDXzfgDJNbYLNbKLNsNaW9hiYaQstCQtthTvB0VZaC+esY9tEu5k4npiIqI0QIckeRlqgsYvlBVrxYiGeEOJa/AA85AwnjyhNlQAAAABJRU5ErkJggg==');
		}

		&.zip:before {
			// images/icons/zip.png
			content: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAAWCAMAAAAVQ1dNAAAAVFBMVEUAAADX19e6urpoQQD////v7+/q6ury8vLs7Oz7+/uKioq6urr5+fm4uLj8/Pz09PSYmJiTk5P29va0tLSioqKNjY2tra2pqamfn5+cnJyPj4+wsLC6ai1ZAAAAA3RSTlMAlpbEAd8zAAAAmUlEQVQY01XOiw6CMBBE0YLTpTwqbwX8//90HJC0N5sNHBpS51zRxpZFbT4XtIi8KKvrp6armWwG3wX6gtk98rpOBoCLg9M+NIEGspcTJecmGe6jbJrwTv4n63tZkmzh/RZUabINPrONtsN7X/n/wk4baEkYZOGGcNmIEHxg58Z4mgXOLzOTHTAj2RUO2kpLwkprkCUrm7zyCzCdCrgOZoujAAAAAElFTkSuQmCC');
		}
	}
}