.table {
	& > thead > tr > th, & > thead > tr > td, & > tbody > tr > th, & > tbody > tr > td, & > tfoot > tr > th, & > tfoot > tr > td {
		padding: 15px;
		text-align: center;
		border-bottom: 1px solid #ced9c1;
	}

	td:first-child {
		text-align: left;
	}

	thead {
		background-color: #789253;
		border-bottom: 0;

		th {
			color: #ffffff;
			font-weight: bold;
		}
	}

	tbody {
		.tr-heading {
			background-color: #eff2ea;
			font-weight: bold;
		}

		tr:not(.tr-heading):hover {
			background-color: mix(#eff2ea, #ffffff, 45%);
		}
	}
}